<!DOCTYPE html>
<html>
  <head>
    <title>QNa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= include_gon(:init => true) %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
  <%= render 'shared/nav' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
